@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Animal Kingdom</h1>
    <p>Learn about <a href="https://www.nationalgeographic.com/animals/">the animal kingdom with National Geographics</a>.</p>
    <img src="~/css/images/lion_1.png" alt="lion" width="600" height="300">
</div>
